<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <nav>
        <button class="Design" >Design</button>
        <button  class="goToWW" >Warp & Weft Def.</button>
        <button class="goToSW">Simple Weaves</button>
        <button class="goToCW">Combined Weaves</button>
        <button class="goToLD">Loom Def.</button>
        <button class="goToEx">Export</button>
    </nav>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>



     <script type="text/javascript">
        $('.Design').click(function(){
        $.ajax(
        {
            type:"POST",
            url: window.location.href,
            data:{
                csrfmiddlewaretoken:'{{csrf_token}}',
                'dn':getPostData(window.location.href)
            },
            success: function( data ) 
            {
                window.location.href="/dn"
            }
            
         })
        });
        </script>
<script type="text/javascript">
    $('.goToWW').click(function(){
    $.ajax(
    {
        type:"POST",
        url: window.location.href,
        data:{
            csrfmiddlewaretoken:'{{csrf_token}}',
            'ww':getPostData(window.location.href)
        },
        success: function( data ) 
        {
            window.location.href="/ww"
        }
        
     })
    });
    </script>

<script type="text/javascript">
    $('.goToSW').click(function(){
    $.ajax(
    {
        type:"POST",
        url: window.location.href,
        data:{
            csrfmiddlewaretoken:'{{csrf_token}}',
            'sw':getPostData(window.location.href)
        },
        success: function( data ) 
        {
            window.location.href="/sw"
        }
        
     })
    });
    </script>

<script type="text/javascript">
    $('.goToCW').click(function(){
    $.ajax(
    {
        type:"POST",
        url: window.location.href,
        data:{
            csrfmiddlewaretoken:'{{csrf_token}}',
            'cw':getPostData(window.location.href)
        },
        success: function( data ) 
        {
            window.location.href="/cw"
        }
        
     })
    });
    </script>


     <script type="text/javascript">
    $('.goToLD').click(function(){
    $.ajax(
    {
        type:"POST",
        url: window.location.href,
        data:{
            csrfmiddlewaretoken:'{{csrf_token}}',
            'ld':getPostData(window.location.href)
        },
        success: function( data ) 
        {
            window.location.href="/ld"
        }
        
     })
    });
    </script>
<script type="text/javascript">
    $('.goToEx').click(function(){
    //const url = window.location.href
    var exdata=getPostData(window.location.href)
    $.ajax(
    {
        type:"POST",
        url: window.location.href,
        data:{
            csrfmiddlewaretoken:'{{csrf_token}}',
            'ex':exdata,
        },
        success: function( data ) 
        {
            window.location.href="/ex"
        }
        
     })
    });
    </script>

<script>
function getdn() {return 'dn'}
function getww() {return 'ww'}
function getsw() {return 'sw'}
function getcw() {return 'cw'}
function getld() {return 'ld'}
function getex() {return  document.getElementById('exn').value}


function getPostData(url) {
    const urlList=window.location.href.split('/')
    const goal = urlList[urlList.length-2 ]
    if (goal=='dn') {return getdn()}
    else if(goal=='ww'){return getww()}
    else if(goal=='sw'){return getsw()}
    else if(goal=='cw'){return getcw()}
    else if(goal=='ld'){return getld()}
    else if(goal=='ex'){return getex()}
    else{return 'error'}
}
</script>

    {% block content %}{% endblock content %}

</body>
</html>